#hello {
    display: flex;
    flex-flow: row;
    box-sizing: border-box;
    width: 60%;
    margin: auto;
    padding: 90px 30px 0 30px;
    color: #032d53;
    min-width: 640px;
}

#hello #hello-color-block {
    background-color: #d40a0a;
    height: 300px;
    flex-grow: 1;
}

#hello #hello-text-block {
    width: fit-content;
    padding-left: 50px;
    box-sizing: border-box;
    font-family: var(--display-font);
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#hello #hello-line,
#hello #hello-subline,
#hello #hello-p {
    display: block;
}

#hello #hello-line {
    font-weight: 600;
    font-size: 36px;
    letter-spacing: -.03em;
    padding: 20px 0 40px;
}

#hello #hello-subline {
    position: relative;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -.6px;
    padding: .2em .5em .2em .5em;
    background-color: rgba(238, 187, 45, .85);
    margin-left: -.5em;
    width: fit-content;
}

#hello #hello-p {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -.6px;
}

@media (max-width: 1068px) {
    #hello {
        padding-left: 15px;
        padding-right: 15px;
    }

    #hello #hello-text-block {
        padding-left: 50px;
    }
}

@media (max-width: 735px) {
    #hello {
        padding-left: 15px;
        padding-right: 15px;
        min-width: 512px;
    }

    #hello #hello-text-block {
        padding-left: 36px;
    }

    #hello #hello-text-block #hello-line {
        font-size: 30px;
    }

    #hello #hello-text-block #hello-subline {
        font-size: 16px;
    }

    #hello #hello-text-block #hello-p {
        font-size: 16px;
    }
}
