:root {
  font-size: 16px;

  /* fonts */
  --display-font: "SF Pro Display", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  --text-font: "SF Pro Text", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  --math-font: "CMU Serif", serif;
  --serif-font: "Untitled Serif", serif;
  --monospaced-font: "SF Mono", 'Pragmata Pro', 'source-code-pro', monospace;

  /* color */
  --text-color: #333;
  --link-color: #0070c9;

  /* Bootstrap Colors */
  --blue-text-color: #004085;
  --blue-background-color: #CCE6FF;
  --blue-border-color: #b8daff;
  --green-text-color: #0c5460;
  --green-background-color: #d1ecf1;
  --green-border-color: #bee5eb;
  --green-saturated-color: #00AB22;
  --gray-text-color: #312e37;
  --gray-background-color: #f6f6f7;
  --gray-border-color: #f1f0f3;
  --yellow-text-color: #856404;
  --yellow-background-color: #fff3cd;
  --yellow-border-color: #ffeeba;
  --yellow-saturated-color: #FECD0A;
  --red-text-color: #721c24;
  --red-background-color: #f8d7da;
  --red-border-color: #f5c6cb;
  --red-saturated-color: #FC1509;
}

.link--external:after,
.link--download:after,
.link--map:after,
.link--calendar:after {
  display: inline-block;
  text-indent: -999jpx;
  color: transparent;
  vertical-align: baseline;
  background-size: 1.2em 1.2em;
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: .5em;
  padding-top: .15em;
  width: 1.2em;
}

.link--download:after {
  content: "download";
  background-image: url('/images/UI/download.svg');
}

.link--external:after {
  content: "external";
  background-image: url('/images/UI/external.svg');
}

.link--map:after {
  content: "map";
  background-image: url('/images/UI/map.svg');
}

.link--calendar:after {
  content: "calendar";
  background-image: url('/images/UI/calendar.svg');
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--text-font);
  font-size: 17px;
  line-height: 1.53;
  letter-spacing: -.021em;
  color: var(--text-color);
  font-synthesis: none;
  font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--link-color);
}

ul, ol, li,
dl, dt, dd,
h1, h2, h3, h4, h5, h6, hgroup,
hr,
blockquote,
figure {
  margin: 0;
  padding: 0;
}

p {
  margin-top: 12px;
  padding: 0;
}

p+h1, ul+h1, ol+h1, table+h1,
p+h2, ul+h2, ol+h2, table+h2,
p+h3, ul+h3, ol+h3, table+h3 {
  padding-top: 1.4em;
}

p+h4, ul+h4, ol+h4, table+h4 {
  padding-top: .3em;
}

h4 {
  font-weight: 500;
}

table {
  font-size: 15px;
  color: #333;
  margin-top: 16px;
  margin-bottom: 16px;
  border-spacing: 0;
  border-collapse: separate;
}

ul, ol {
  list-style-position: outside;
  margin-left: 25px;
}

li p {
  margin: 0;
}

blockquote {
  position: relative;
  margin: 16px 0;
  padding-left: 2ch;
  margin-left: .5ch;
  position: relative;
  border-left: 5px #EAEAEA solid;
}

hr {
  border: none;
  margin-top: 32px;
  margin-bottom: 32px;
}

/* ===== content ===== */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 250px);
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  width: 100%;
}

.message--empty {
  display: block;
  font-family: var(--display-font);
  font-size: 32px;
  font-weight: 600;
  color: #BBB;
  height: 108px;
  letter-spacing: 0.128px;
  line-height: 36px;
  text-align: center;
  margin: auto;
  width: 100%;
}

.error-page-title {
  text-align: center;
  font-size: 76px;
}

.error-page-content {
  text-align: center;
}

.error-page-content a {
  text-decoration: none;
  color: inherit;
  transition: color 600ms;
}

.error-page-content a:hover,
.error-page-content a:active {
  color: #ccc;
}

/* ===== pagination ===== */
.pagination {
}

.pagination-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 18px;
}

.pagination__prev,
.pagination__next {
  display: inline-flex;
  font-weight: 500;
  color:  var(--text-color);
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 90%;
  line-height: 1.4;
  margin-bottom: .6em;
}

.pagination__prev:before,
.pagination__prev:after,
.pagination__next:before,
.pagination__next:after {
  display: block;
  color: var(--link-color);
}

.pagination__prev:before {
  content: "«";
  margin-right: .7em;
}

.pagination__next:after {
  content: "»";
  margin-left: .7em;
}

/* ===== footer ===== */

.footer {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  text-align: center;
  margin-top: 10px;
}

.footer__wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  border-top: #EEE 1px solid;
  padding: 15px 0;
  margin-bottom: 10px;
}

.footer * {
  font-size: 13px;
}

.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #ccc;
}

.footer-links li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.footer-links a {
  color: #888;
  text-decoration: none;
  transition: color 300ms;
  margin: 0 5px;
}

.footer-links a:hover {
  color: #222;
}

.footer-links li::before {
  content: '•';
  position: relative;
  left: -2px;
}

.footer-links li:first-child::before {
  display: none;
}

.footer .copyright {
  color: #888;
  text-decoration: none;
  transition: color 300ms;
}

code.has-jax {
  font: inherit;
  font-size: 100%;
  background: inherit;
  border: inherit;
  color: #515151;
}

.latex-macros {
  display: none;
}

.hide {
  display: none;
}
