:root {
  --display-font: "SF Pro Display", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  --text-font: "SF Pro Text", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  --serif-font: "Untitled Serif", serif;
  --monospaced-font: "SF Mono", 'Pragmata Pro', 'source-code-pro', monospace;
  --text-color: #333;
  --link-color: #0070c9;

  /* Bootstrap Colors */
  --definition-text-color: #004085;
  --definition-background-color: #CCE6FF;
  --definition-border-color: #b8daff;
  --properties-text-color: #0c5460;
  --properties-background-color: #d1ecf1;
  --properties-border-color: #bee5eb;
  --theorem-text-color: #0c5460;
  --theorem-background-color: #d1ecf1;
  --theorem-border-color: #bee5eb;
  --axioms-text-color: #0c5460;
  --axioms-background-color: #d1ecf1;
  --axioms-border-color: #bee5eb;
  --examples-text-color: #312e37;
  --examples-background-color: #f6f6f7;
  --examples-border-color: #f1f0f3;
  --note-text-color: #856404;
  --note-background-color: #fff3cd;
  --note-border-color: #ffeeba;
}

.link--download:after {
  display: inline-block;
  content: "download";
  text-indent: -9999px;
  color: transparent;
  background: url('/images/UI/download.svg') no-repeat;
  background-size: 1em 1em;
  background-position: center .23em;
  height: 1.3em;
  width: 1em;
  margin-left: .5em;
}

.link--external:after {
  display: inline-block;
  content: "external";
  text-indent: -9999px;
  color: transparent;
  background: url('/images/UI/external.svg') no-repeat;
  background-size: .8em .8em;
  background-position: center center;
  height: 1.5em;
  width: 1em;
  margin-left: .3em;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--text-font);
  font-size: 17px;
  line-height: 1.53;
  letter-spacing: -.021em;
  color: var(--text-color);
  font-synthesis: none;
  font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body:not(.home) {
  /* leave space for header */
  padding-top: 48px;
}

a {
  color: var(--link-color);
}

ul, ol, li,
dl, dt, dd,
h1, h2, h3, h4, h5, h6, hgroup,
hr,
blockquote,
figure {
  margin: 0;
  padding: 0;
}

p {
  margin-top: 12px;
  padding: 0;
}

p+h1, ul+h1, ol+h1, table+h1,
p+h2, ul+h2, ol+h2, table+h2,
p+h3, ul+h3, ol+h3, table+h3 {
  padding-top: 1.4em;
}

p+h4, ul+h4, ol+h4, table+h4 {
  padding-top: .3em;
}

h4 {
  font-weight: 500;
}

table {
  font-size: 15px;
  color: #333;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-spacing: 0;
  border-collapse: separate;
}

ul, ol {
  list-style-position: outside;
  margin-left: 25px;
}

li p {
  margin: 0;
}

blockquote {
  position: relative;
  margin: 1rem 0;
  padding-left: 2ch;
  margin-left: .5ch;
  position: relative;
  border-left: 5px #EAEAEA solid;
}

hr {
  border: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* ===== header ===== */

.header {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  position: fixed;
  top: 0;
  width: 100%;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.08); */
  /* header is the topmost element */
  z-index: 5;
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: rgba(0,0,0,0.7);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  transition: background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), height 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.header--active {
  background: rgba(0,0,0,0.9);
}

.header-bg {
  display: block;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  background: rgba(0,0,0,0.4);
  transition: background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.nav {
  display: flex;
  position: relative;
  width: 85%;
  padding: 0 .5rem;
  box-sizing: border-box;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav * {
  text-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.nav__logo {
  color: white;
  box-sizing: border-box;
  font-size: 18.5px;
  font-weight: 500;
  text-decoration: none;
  padding: 10px .5rem 9px .5rem;
  overflow:hidden;
  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
  -webkit-text-overflow:ellipsis;
  -moz-text-overflow:ellipsis;
  white-space:nowrap;
}

.nav__logo * {
  color: white;
  text-decoration: none;
  letter-spacing: -.025em;
}

.nav__section:before {
  content: "|";
  font-weight: 500;
}

.nav__menu {
  display: flex;
  flex-direction: row;
}

.nav__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
}

.nav__toggle {
  color: white;
  font-size: 20px;
  font-weight: 800;
  background: transparent;
  line-height: 2px;
  border: 0;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  padding: 16px 15px 24px;
  outline: 0;
  cursor: pointer;
}

.nav__toggle--active {
  padding: 20px 15px;
}

.nav__toggle:after {
  content: "...";
}

.nav__toggle--active:after {
  content: "✕";
}

.nav__item {
  margin-left: 1rem;
  list-style: none;
}

.nav__link {
  display: block;
  color: white;
  padding: 0 .5rem;
  font-size: 15px;
  padding-top: 3px;
  line-height: 45px;
  text-decoration: none;
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  white-space: nowrap;
}

.nav__link:hover {
  opacity: .65;
}

.nav__menu--collapsable {
  box-sizing: border-box;
  height: 0px;
  overflow: hidden;
  transition: height 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.nav__menu--collapsable--active {
  height: 236px;
}

.nav__list--collapsable {
  padding: 20px 32px;
  margin: 0;
}

.nav__menu--collapsable .nav__item {
  margin: 0;
}

.nav__menu--collapsable .nav__link {
  font-size: 17px;
  border-bottom: rgba(255, 255, 255, 0.15) 1px solid;
}

/* ===== content ===== */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 250px);
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  overflow-x: scroll;
}

.jumbotron {
  position: relative;
  z-index: 2;
  user-select: none;
  pointer-events: none;
  display: block;
  width: 100%;
  background-repeat: no-repeat;
  background-color: #DDD;
  transition: height 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.jumbotron__text {
  display: block;
  position: absolute;
  right: 12px;
  bottom: 4px;
  color: white;
  opacity: .7;
  line-height: .8rem;
  transition: bottom 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.jumbotron__text span {
  display: inline-block;
  width: 100%;
  text-align: right;
}

.jumbotron__title {
  font-size: .8rem;
  font-weight: 500;
}

.jumbotron__copyright {
  font-size: .6rem;
}

#jumbotron__expand-button {
  pointer-events: all;
  cursor: pointer;
  outline: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: transparent;
  border: 0;
}

@keyframes jumbotron__expand-button-breath {
  30%   { opacity: .3; }
  40%   { opacity: .4; }
}

#jumbotron__expand-button svg {
  margin: auto;
  fill: white;
  width: 12px;
  height: 12px;
  animation: jumbotron__expand-button-breath 4s infinite alternate;
  transition: transform 0.8s linear;
}

.message--empty {
  display: block;
  font-family: var(--display-font);
  font-size: 32px;
  font-weight: 600;
  color: #BBB;
  height: 108px;
  letter-spacing: 0.128px;
  line-height: 36px;
  text-align: center;
  margin: auto;
  width: 100%;
}

.page-links {
  margin: 25px 0;
  padding: 0;
  text-align: center;
  font-size: 16px;
}

.page-links li {
  display: inline-block;
}

.page-links a {
  text-decoration: none;
  padding: 0 5px;
  color: #555;
  transition: color 300ms;
}

.page-links a:hover {
  color: #ccc;
}

.page-links-active a,
.page-links-disabled a {
  text-decoration: none;
  color: #ccc;
}

.error-page-title {
  text-align: center;
  font-size: 76px;
}

.error-page-content {
  text-align: center;
}

.error-page-content a {
  text-decoration: none;
  color: inherit;
  transition: color 600ms;
}

.error-page-content a:hover,
.error-page-content a:active {
  color: #ccc;
}

/* ===== footer ===== */

.footer {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 40px;
  margin-top: 50px;
  padding: 0;
  text-align: center;
  margin-bottom: 20px;
}

.footer * {
  font-size: 13px;
}

.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #ccc;
}

.footer-links li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.footer-links a {
  color: #888;
  text-decoration: none;
  transition: color 300ms;
  margin: 0 5px;
}

.footer-links a:hover {
  color: #222;
}

.footer-links li::before {
  content: '•';
  position: relative;
  left: -2px;
}

.footer-links li:first-child::before {
  display: none;
}

.footer .copyright {
  color: #888;
  text-decoration: none;
  transition: color 300ms;
  margin-right: 20px;
}

code.has-jax {
  font: inherit;
  font-size: 100%;
  background: inherit;
  border: inherit;
  color: #515151;
}

.latex-macros {
  display: none;
}

