{{- define "type" -}} about {{- end -}}

{{ define "links" }}
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/about.css?v=2.4" media="all">
{{ end }}

{{ define "body" }}

  {{ partial "header.html" . }}

  <div class="bio">
    <div class="left">
      <div class="left-wrapper">
        <img id="my-photo" src="/images/photo.png" alt="Jim Zenn">
        <div id="my-info">
          <span id="my-name">{{ .Site.Params.my_name }}</span>
          <a id="my-email" href="mailto:{{ .Site.Params.email }}"><span>{{ .Site.Params.email }}</span></a>
        </div>
      </div>
    </div>
    <div class="right">
      <div id="my-school">
        <p id="my-education">Student of <span id="school">{{ .Site.Params.my_education }}</span></p>
        <p id="my-major">Majors in <span>{{ .Site.Params.my_major }}</span></p>
      </div>
      <p id="my-CV"><a href="{{ .Site.Params.CV }}" class="link--download">Download my CV</a></p>
    </div>
  </div>
  <main class="content content--about" role="main">
    <article class="article about-intro">
      <div class="article-content">
        {{ .Content }}
      </div>
    </article>
  </main>

  {{ partial "footer.html" . }}

{{ end }}
