<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "head.html" . }}
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css?v=2.4" media="all">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/header.css?v=2.4" media="all">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/fonts.css?v=2.4" media="all">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/article.css?v=2.4" media="all">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/list.css?v=2.4" media="all">
    {{ block "links" . }} {{ end }}
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/responsive.css?v=2.4" media="all">
  </head>

  <body class="{{- block "type" . -}} {{- end -}}" >
    {{ block "body" . }} {{ end }}
  </body>

</html>
