{{- define "type" -}} course wide {{- end -}}

{{ define "links" }}
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/course.css?v={{ .Site.Params.version }}" media="all">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/navigation.css?v={{ .Site.Params.version }}" media="all">
{{ end }}

{{ define "body" }}

  {{ $courseData := index (where $.Site.Data.courses "course-number" ($.Param "courseNumber") ) 0 }}
  {{ partial "navigation.html" (dict "supTitle" (index $courseData "course-number") "title" (index $courseData "course-title") "navigation" (index $courseData "navigation") "emphColor" (index $courseData "course-color")) }}

  <main class="content" role="main">
    {{ $courseNumber := .Param "courseNumber" }}
    {{ range where $.Site.Data.courses "course-number" (.Param "courseNumber") }}
    <div class="course-introduction">
      <div class="course-information">
         {{ index . "course-introduction" | safeHTML }}
      </div>
      <div class="course-info">
        {{ range ( index . "course-info" ) }}
        <div class="course-info__group">
          <span class="course-info__field">{{ index . "field" }}</span>
          <a class="course-info__value {{ with index . "icon" }} link--{{- . -}} {{ end }}" {{ with index . "url" }} href="{{ . }}" {{ else }} disabled="true" {{ end }} target="_blank">{{ index . "value" }}</a>
        </div>
        {{ end }}
      </div>
    </div>
    <div class="course-syllabus page-link-position-fixer" id="syllabus">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th class="mobile-hide">Date</th>
            <th align="left">Description</th>
          </tr>
        </thead>
        <tbody>
          {{ range where $.Site.Pages.Reverse "Section" ((index . "course-number") | urlize) }}
            {{ $is_section := eq .Kind "section" }}
            {{ $is_hide := and (isset .Params "hide") (.Param "hide") }}
            {{ if (not (or $is_hide $is_section)) }}
              {{ if eq .Section ($courseNumber | urlize) }}
                <tr>
                  <td align="center">{{- index (.Param "Volumes") 0 -}}.{{- .Param "Issue" -}}</td>
                  <td align="center" class="date mobile-hide" style="font-weight: 500"><sup>{{ .PublishDate.Format "1" }}</sup><span class="slash">/</span><sub>{{ .PublishDate.Format "2" }}</sub></td>
                  <td class="wrap"><b>{{ .Title | title }}</b><br>{{ (strings.TrimSuffix "<p></p>" .Summary) | safeHTML }}[<a href="{{ .Permalink }}">Notes</a>]</td>
                </tr>
              {{ end }}
            {{ end }}
          {{ end }}
        </tbody>
      </table>
    </div>
    <div class="course-resources page-link-position-fixer" id="resources">
      <h2 class="course-resources__title">Resources</h2>
      <ul class="course-resources__list">
        {{ range $index, $element := (index . "resources") }}
        <li class="course-resources__item">
          <span class="course-resources__numbering">[{{ add $index 1 }}]</span>
          {{- with (index . "author") -}} {{- . -}}. {{ end }}
          <b>{{- with (index . "title") -}} {{- . -}}. {{ end }}</b>
          <i>{{- with (index . "source") -}} {{- . -}}. {{ end }}</i>
          URL: <a href="{{ index . "url" }}" class="course-resources__link" target="_blank">
            {{ index . "url" }}
          </a>
        </li>
        {{ end }}
      </ol>
    </div>
    {{ end }}
  </main>

  {{ partial "footer.html" . }}

{{ end }}
