{{- define "type" -}} list {{- end -}}

{{ define "head" }}
    {{ partial "head.html" . }}
{{ end }}

{{ define "body" }}

  <main class="content" role="main">
    <div class="article-list">
      {{ $paginator := .Paginate (where .Site.RegularPages "Section" .Section) }}
      {{ range $paginator.Pages }}
        {{ if (not (isset .Params "hide")) }}
        {{ partial "list-item.html" . }}
        {{ end }}
      {{ end }}
    </div>

  {{ partial "pagination.html" . }}

  </main>

  {{ partial "footer.html" . }}

{{ end }}
