<header class="header" id="header">
  <!-- <a id="header-menu__toggle"><img src="/images/UI/menu.svg" alt="logo"/></a> -->
  <img class="header__menu-icon" id="header__menu-icon" src="/images/UI/menu.svg">
  <div class="header__title">
    <a class="header__site-logo-link" id="header-menu__toggle">
      <img class="header__site-logo-image" src="/logo/wire.svg" alt="logo"/>
    </a>
  </div>
  <nav class="header-menu" id="header-menu">
      <ul class="header-menu__list">
        {{ range $.Site.Data.menu  }}
          {{ if (isset . "menu") }}
            <li class="header-menu__item header-menu__item--dropdown">
              <a class="header-menu__link">{{ .name }}</a>
              <ul class="header-menu__item-menu">
                {{ range .menu  }}
                  <li class="header-menu__item-menu-item"><a class="header-menu__item-menu-link" href="{{ .url }}">{{ .name }}</a></li>
                {{ end }}
              </ul>
            </li>
          {{ else }}
            <li class="header-menu__item"><a class="header-menu__link" href="{{ .url }}">{{ .name }}</a></li>
          {{ end }}
        {{ end }}
      </ul>
  </nav>
</header>
<nav class="header-menu--collapsable" id="collapsable-menu">
  <ul class="header-menu__list--collapsable">
    {{ range $.Site.Data.menu  }}
      {{ if (isset . "menu") }}
        <li class="header-menu__item header-menu__item--dropdown">
          <a class="header-menu__link">{{ .name }}</a>
          <ul class="header-menu__item-menu">
            {{ range .menu  }}
              <li class="header-menu__item-menu-item"><a class="header-menu__item-menu-link" href="{{ .url }}">{{ .name }}</a></li>
            {{ end }}
          </ul>
        </li>
      {{ else }}
    <li class="header-menu__item"><a class="header-menu__link" href="{{ .url }}">{{ .name }}</a></li>
      {{ end }}
    {{ end }}
  </ul>
</nav>

