{{if not (isset .Params "hide")}}
  <article class="article article--list-item">
    <h1 class="article__title article__title--list-item"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    <p class="article__meta">
      <span>
        <a href="/volumes/{{ lower (index .Params.volumes 0) }}" class="article__volume-link">Vol. {{ index .Params.volumes 0 }}</a>
        <small>∙</small> 
        {{ .Date.Format "April 2006" }}
      </span>
      <span>
        by {{ $.Param "author" }}
      </span>
    </p>
    <p class="article__summary">
      {{ .Summary }}
    </p>
    <p><a class="article__more" href="{{ .Permalink }}"> Read the article</a></p>
  </article>
{{end}}