{{- define "type" -}} home header-fixed {{- end -}}

{{ define "links" }}
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/jumbotron.css?v=2.1" media="all">
{{ end }}

{{ define "body" }}

  {{ partial "header.html" . }}

  {{ partial "jumbotron.html" . }}

  <main class="content" role="main">
    <div class="article-list">
      {{ range where .Site.Pages "Section" "posts" }}
        {{ $is_section := eq .Kind "section" }}
        {{ $is_hide := and (isset .Params "hide") (.Param "hide") }}
        {{ if (not (or $is_hide $is_section)) }}
          {{ partial "list-item.html" . }}
        {{ end }}
      {{ end }}
    </div>

  <!-- {{ partial "pagination.html" . }} -->

  </main>

  {{ partial "footer.html" . }}

  {{ partial "scripts.html" . }}

{{ end }}




