{{- define "type" -}} home {{- end -}}

{{ define "links" }}
{{ $jumbotron := resources.Get "css/jumbotron.css" }}
{{ $home := resources.Get "css/home.css" }}
{{ $hello := resources.Get "css/hello.css" }}
<link rel="stylesheet" href="{{ $jumbotron.Permalink }}">
<link rel="stylesheet" href="{{ $home.Permalink }}">
<link rel="stylesheet" href="{{ $hello.Permalink }}">
{{ end }}

{{ define "body" }}

<div id="hello">
  {{ partial "kaleidoscope.html" . }}
  <div id="hello-text-block">
    {{ with .Site.Params.author }}
    <span id="hello-line">
      {{ .hello_line }}
    </span>
    <span id="hello-subline">
      {{ .hello_subline }}
    </span>
    <p id="hello-p">
      {{ .hello_p | safeHTML }}
    </p>
    {{ end }}
  </div>
</div>

<main class="content" role="main">

  {{ partial "article.html" . }}

</main>

{{ partial "footer.html" . }}

{{ end }}