{{- define "type" -}} category {{- end -}}

{{ define "head" }}
    {{ partial "head.html" . }}
{{ end }}

{{ define "body" }}

  <main class="content" role="main">

    <div class="article-list">
      {{ if eq .Title "Publications" }}
        <span class="message--empty">There is nothing here yet.</span>
      {{ else }}
        {{ range .Paginator.Pages }}
          {{ if (isset .Params "top") }}
            {{ partial "list-item.html" . }}
          {{ end }}
        {{ end }}
        <hr />
        {{ range .Paginator.Pages }}
          {{ if (not (isset .Params "top")) }}
            {{ partial "list-item.html" . }}
          {{ end }}
        {{ end }}
      {{ end }}
    </div>

    {{ partial "pagination.html" . }}

  </main>

  {{ partial "footer.html" . }}
{{ end }}
